*.swp
videos/
videos/*
*.avi
*.log
calibrations
calibrations/
calibrations/*
*.jpg
*.mov
*.mp4
*.avi
*.png
*.pyc

gps_logging.txt

tests/plots
__pycache__/*
*__pycache__*

driver_risk_utils/__pycache__/*
